@tailwind base;
@tailwind components;
@tailwind utilities;

/* Явно импортируем плагин */
@import '@tailwindcss/typography';

@source inline("bg-gradient-to-br");
@source inline("from-[#db469f]");
@source inline("to-[#2188ff]");
@source inline("bg-clip-text");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    font-size: 16px;
	font-weight: 400;
  	font-style: normal;

}

.bg-img {
	background-image: url(../img/bg-fon.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.bg-img-2 {
	background-image: url(../img/bg-fon2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}
.bg-title {
	background-image: url(../img/bg-title.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bg-timeline {
	background-image: url(../img/timeline-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.bg-slider {
	background-image: url(../img/bg-slider.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.bg-img-bottom-fon {
	background-image: url(../img/img-bottom-fon.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 1440px) {
    .container {
        max-width:1440px;
    }
}

.stretched-link {
    position: static;
}

.stretched-link:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.button {
	@apply p-7 bg-white;
}
.button-big,
.button-big-invers {
	@apply px-8 py-7 text-2xl cursor-pointer relative flex items-baseline justify-center gap-4;

	&:after {
		content: "";
		display: block;
		width:10px;
		height: 15px;
		min-width:10px;
		min-height: 15px;
		background-color: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
	&:hover {
		@apply bg-violet text-white;
	}
}
.button-big {
	@apply bg-white text-violet;

	&:hover {
		@apply bg-violet text-white;
	}
}
.button-big-invers {
	@apply bg-violet text-white;

	&:hover {
		@apply bg-white text-violet;
	}
}


.more-details {
	@apply text-white font-bold text-base md:text-xl cursor-pointer relative flex items-baseline gap-2;

	&:after {
		content: "";
		display: block;
		width:6px;
		height: 11px;
		background-color: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
}

.card-interest {
	/* @apply  flex flex-col h-full flex-1 text-tertiary border-t-8  p-6 lg:min-h-[538px] relative; */
	@apply  flex flex-col h-full flex-1 text-tertiary border-t-8  p-6  min-h-[450px] lg:min-h-[538px] relative;
}
.card-interest-time {
	@apply w-full flex justify-between text-sm font-semibold tracking-[-0.6px];
}
.card-interest-content {
	@apply flex flex-col gap-4;
}

.swiper5 .swiper-slide {
	height: auto !important;
	display: flex;
}
.card-interest {
	/* height: 480px !important; Фиксированная высота */
	display: flex !important;
	flex-direction: column !important;
}
.card-interest-content {
	flex: 1 !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-end !important;
	margin-top: 0 !important; /* Убираем процентные отступы */
}

.swiper5 {
	/* Пагинация всегда видна и не исчезает */
	.swiper-pagination {
		position: absolute !important;
		left: 0 !important;
		right: 0 !important;
		z-index: 100 !important;
		display: flex !important;
		justify-content: center !important;
		padding: 10px 0 !important;
	}

	/* Стили для пуль (точек) */
	.swiper-pagination-bullet {
		width: 8px !important;
		height: 8px !important;
		background: #ccc !important;
		opacity: 0.7 !important;
		margin: 0 4px !important;
		transition: all 0.3s ease !important;
	}

	.swiper-pagination-bullet-active {
		background: #4B5EE5 !important;
		opacity: 1 !important;
		width: 12px !important;
		border-radius: 4px !important;
	}

	/* Динамические пули */
	.swiper-pagination-bullet-active-main {
		transform: scale(1.2) !important;
	}

}


.btn-menu {
	@apply bg-tertiary text-secondary text-[14px] md:text-base py-[13px] px-[18px]  md:py-4 md:px-6;

	&:hover {
		@apply bg-secondary text-tertiary rounded-full;
	}
}
.btn-menu-active {
	@apply bg-secondary text-tertiary rounded-full;
}

.btn-menu-small {
	@apply bg-white text-gray py-1 px-2;

	/* &:hover {
		@apply rounded-full;
	} */
}
.btn-menu-small-active {
	@apply rounded-full;
}



    /* Дополнительные стили для плавности */
    .accordion-content {
        transition: max-height 0.3s ease-out;
    }

    .rotate-45 {
        transform: rotate(45deg);
    }


.open .accordion-icon-bg {
	@apply bg-[#402ECB] text-white;
}

/* Дополнительные стили для таймлайна */
.timeline-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.timeline-step {
	min-width: 0;
}

.before-line-top,
.before-line-bottom {
	@apply relative;

	&:before {
		content:'';
		width: 2px;
		height: 24px;
		background-color: #F7F7F7;
		position: absolute;
		left: 0px;

		@apply hidden md:block;
	}

}
.before-line-top {

	&:before {
		top:10px;
	}
}
.before-line-bottom {

	&:before {
		bottom:10px;
	}
}


.whats-included li {
	@apply  mb-3 relative pl-4 leading-[130%];

	&:before{
		content: '/';
		position: relative;
		left: -10px;
		color: #9DA3B8;
		font-size: 1rem;

	}
}

select option {
    color: #374151;
}

/* песочные часы */
/* .hourglass {
	clip-path: polygon(
		0% 0%,
		5% 50%,
		0% 100%,
		100% 100%,
		95% 50%,
		100% 0%
	);
} */
