@tailwind base;
@tailwind components;
@tailwind utilities;

@source inline("bg-gradient-to-br");
@source inline("from-[#db469f]");
@source inline("to-[#2188ff]");
@source inline("bg-clip-text");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    font-size: 16px;
	font-weight: 400;
  	font-style: normal;

}

.bg-img {
	background-image: url(../img/bg-fon.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.bg-img-2 {
	background-image: url(../img/bg-fon2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}
.bg-title {
	background-image: url(../img/bg-title.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bg-timeline {
	background-image: url(../img/timeline-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 1440px) {
    .container {
        max-width:1440px;
    }
}

.stretched-link {
    position: static;
}

.stretched-link:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.button {
	@apply p-7 bg-white;
}
.button-big {
	@apply bg-white px-8 py-7 text-violet font-bold text-2xl cursor-pointer relative flex items-baseline gap-4;

	&:after {
		content: "";
		display: block;
		width:10px;
		height: 15px;
		min-width:10px;
		min-height: 15px;
		background-color: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
	&:hover {
		@apply bg-violet text-white;
	}
}
.button-big-invers {
	@apply bg-violet px-8 py-7 text-white font-bold text-2xl cursor-pointer relative flex items-baseline gap-4;

	&:after {
		content: "";
		display: block;
		width:10px;
		height: 15px;
		min-width:10px;
		min-height: 15px;
		background-color: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}

	&:hover {
		@apply bg-white text-violet;
	}
}


.more-details {
	@apply text-white font-bold text-xl cursor-pointer relative flex items-baseline gap-2;

	&:after {
		content: "";
		display: block;
		width:6px;
		height: 11px;
		background-color: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
}

.card-interest {
	@apply  flex flex-col text-tertiary border-t-8  p-6 h-[538px] relative;
}
.card-interest-time {
	@apply w-full flex justify-between text-sm font-semibold tracking-[-0.6px];
}
.card-interest-content {
	@apply flex flex-col gap-4;
}

.btn-menu {
	@apply bg-tertiary text-secondary py-4 px-6;

	&:hover {
		@apply bg-secondary text-tertiary rounded-full;
	}
}
.btn-menu-active {
	@apply bg-secondary text-tertiary rounded-full;
}

.btn-menu-small {
	@apply bg-white text-gray py-1 px-2;

	/* &:hover {
		@apply rounded-full;
	} */
}
.btn-menu-small-active {
	@apply rounded-full;
}



    /* Дополнительные стили для плавности */
    .accordion-content {
        transition: max-height 0.3s ease-out;
    }

    .rotate-45 {
        transform: rotate(45deg);
    }


.open .accordion-icon-bg {
	@apply bg-[#402ECB] text-white;
}

/* Дополнительные стили для таймлайна */
.timeline-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.timeline-step {
	min-width: 0;
}

.before-line-top,
.before-line-bottom {
	@apply relative;

	&:before {
		content:'';
		width: 2px;
		height: 24px;
		background-color: #F7F7F7;
		position: absolute;
		left: 0px;

		@apply hidden md:block;
	}

}
.before-line-top {

	&:before {
		top:10px;
	}
}
.before-line-bottom {

	&:before {
		bottom:10px;
	}
}


.whats-included li {
	@apply  mb-3 relative pl-4 leading-[130%];

	&:before{
		content: '/';
		position: relative;
		left: -10px;
		color: #9DA3B8;
		font-size: 1rem;

	}
}
